//
//  Production.xcconfig
//  HelaTrack
//
//  Created by mac on 4/27/26.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
SUPABASE_URL = https://tqxltdldqyrfkgjllzyx.supabase.co
SUPABASE_KEY = sb_publishable_D26ZoSZ-x31U6vTRE2hIIw_0xaSyixP
